/**
* z-index utilities
*
* naming convention: gl-z-index-{value}
*/

@mixin gl-z-index-0 {
  z-index: 0;
}

@mixin gl-z-index-1 {
  z-index: 1;
}

@mixin gl-z-index-2 {
  z-index: 2;
}

@mixin gl-z-index-3 {
  z-index: 3;
}

@mixin gl-z-index-200 {
  z-index: 200;
}

@mixin gl-z-index-9999 {
  z-index: 9999;
}

@mixin gl-isolate {
  isolation: isolate;
}
